::ng-deep .mat-dialog-actions {
  margin: 0;
}

.studentForm {
  width: 100%;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.mat-dialog-content {
  max-height: unset;
  max-height: 100%;
  height: 100%;
}
