.sidenav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  max-width: 310px;
  width: 100%;
  background-color: #121212;
  overflow: auto;
}

.sidenav-content {
  height: 100%;
}

.mat-drawer-container {
  background-color: #ffffff;
}

mat-toolbar {
  background-color: rgb(247, 247, 247);
}

.toolbar-fill {
  flex: 1 1 auto;
}

::ng-deep .mat-menu-panel {
  width: 186px;
}
