<ng-container>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      mode="side"
      opened
      [fixedInViewport]="true"
      class="sidenav"
      #sidenav
    >
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <mat-toolbar>
        <span>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </span>
        <span class="toolbar-fill"> </span>
        <span>
          <button mat-button [matMenuTriggerFor]="menu" alt="loggedUserMenu">
            <span>Andrzej Bronisławski</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="after">
            <button mat-menu-item>
              <mat-icon>person</mat-icon>
              <span>Profil</span>
            </button>
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Ustawienia</span>
            </button>
            <button mat-menu-item (click)="auth.SignOut()">
              <mat-icon>remove_circle_outline</mat-icon>
              <span>Wyloguj</span>
            </button>
          </mat-menu>
        </span>
      </mat-toolbar>
      <router-outlet style="margin-top: 16px"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
