/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto";
}

::ng-deep .mat-snack-bar-container {
  color: #122230 !important;
  font-weight: bold !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
